<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="title">
                        <h1 class="heading heading-prod ">Check  <span>Out</span> our <span>Offer</span></h1>
                        <h3><span><a href="#/offer/days/0" style="font-size:20px; float: left" ng-click="vm.expireNow()">Expiring this week</a></span>  <span><a href="#/offer/days/7" style="font-size:20px; float: right" ng-click="vm.expireNextWeek()">Expiring next week</a></span></h3>
                    </div>
                    <ul class="wow fadeInLeft animated" data-wow-duration="300ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 300ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                        <li ng-repeat="product in vm.products">
                            <div ng-if="product.isRight">
                                <div class="blog-img">
                                    <img src="{{product.photo}}" alt="blog-img">
                                </div>
                                <div class="orange"><span class="offer">{{product.percentage}}% off</span></div>
                                <div class="content-right">
                                    <h3>{{product.name}}</h3>
                                    <p class="new-price">$ {{product.newPrice | number:2}}</p>
                                    <p class="old-price">was <span class="old-price-val">$ {{product.price}}</span></p>
                                </div>
                            </div>

                            <div ng-if="!product.isRight">
                                <div class="blog-img-2">
                                    <img src="{{product.photo}}" alt="blog-img-2">
                                </div>
                                <div class="orange"><span class="offer">{{product.percentage}} off</span></div>
                                <div class="content-left">
                                    <h3>{{product.name}}</h3>
                                    <p class="new-price">$ {{product.newPrice | number:2}}</p>
                                    <p class="old-price">was <span class="old-price-val">$ {{product.price}}</span></p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

