<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">{{vm.pageName}} <span>Product</span></h1>
                    <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">{{vm.actionLabel}} <span>your product details</span> </h3>

                    <form name="addEditProduct" ng-submit="addEdiProduct.$valid && vm.addProduct()">

                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                            <input ng-model="vm.product.name" type="text" id="name" placeholder="Write the product name here..." />
                        </div>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                            <input ng-model="vm.product.oldPrice" type="text" id="name" placeholder="Write the price here..." />
                        </div>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                            <input ng-model="vm.product.expirationDate" type="text" id="name" placeholder="expiration date" />
                        </div>
                    </form>

                    <input class="btn btn-default wow bounceIn" type="submit" value="Save" />
                    <input ui-sref="products" type="button" value="Back" />

                    <!--<a class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" href="#price" role="button">save</a>-->
                </div>
            </div>
        </div>
    </div>
</section>